{% extends "layout.html" %} {% block title %} Calendar {% endblock %} {% block
script%}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },
      events: [
        {
          title: "All Day Event",
          start: "2023-09-01",
          color: "red",
        },
        {
          title: "Meeting",
          start: "2023-09-12",
          color: "blue",
        },
      ],
      eventColor: "backgroundColor",
    });
    calendar.render();
  });
</script>
{% endblock %} {% block content %}
<h3>Calendar</h3>
<h6>Key</h6>
<table class="table table-borderless">
  <tr>
    <td>Red</td>
    <td>Application Deadline</td>
  </tr>
  <tr>
    <td>Blue</td>
    <td>Personal Deadline</td>
  </tr>
</table>
<div class="w-75 mx-auto my-4" id="calendar"></div>
{% endblock %}
