{% extends "layout.html" %} {% block title %} Calendar {% endblock %} {% block
script%}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>
  var events = {{ events | safe }};
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },
      events: events,
      eventColor: "backgroundColor",
      eventMouseEnter: function (arg) {
        var title = arg.event.title;
        arg.el.setAttribute('title', title);
      },
    });
    calendar.render();
    // Initialize Bootstrap tooltips

  });
</script>
{% endblock %} {% block content %}
<h3 class="m-5">Calendar</h3>
<div class="mx-4 my-4" id="calendar"></div>
<h6>Key</h6>
<table class="table table-borderless my-4">
  <tr>
    <td>Red</td>
    <td>Application Deadline</td>
  </tr>
  <tr>
    <td>Blue</td>
    <td>Personal Deadline</td>
  </tr>
</table>
{% endblock %}
