{% extends "layout.html" %} {% block title %} Notes {% endblock %} {% block
content %}
<div class="w-75 mx-auto">
  <h1 class="">Notes</h1>

  <!-- one note -->
  <div class="bg-secondary rounded p-3 m-2">
    <p>
      svhsgvnsk djsgvjsdgnlksdjgs lgjsfbkjoskbhs;o
      jsjbskgbskdgblsbklhsjbhksdmbklmz
    </p>
    <p>Software Engineering Intern</p>
  </div>
  <div class="bg-secondary rounded p-3 m-2">
    <p>
      svhsgvnsk djsgvjsdgnlksdjgs lgjsfbkjoskbhs;o
      jsjbskgbskdgblsbklhsjbhksdmbklmz
    </p>
    <p>Software Engineering Intern</p>
  </div>
  <div class="bg-secondary rounded p-3 m-2">
    <p>
      svhsgvnsk djsgvjsdgnlksdjgs lgjsfbkjoskbhs;o
      jsjbskgbskdgblsbklhsjbhksdmbklmz
    </p>
    <p>Software Engineering Intern</p>
  </div>
</div>
{% endblock %}
